doctype html
html
	head(lang="ko")
		title Socket.IO chat

		link(rel='stylesheet', href='/js/chat/index.css')

	body

		.chat_wrap
			.area_game
				canvas(class='game_canvas', id='canvas', width='500px', height='500px')
			.area_chat
				.scroll_chat
					ul(class='list_chat')
						li
							span(class='txt_msg') 글을 입력해 주세요
						each msg in msgPool
							li
								span(class='txt_msg')=msg
				.insert_chat
					form(action='/')
						input(id='userName', placeholder='무작위 슈퍼히어로')
						input(id='userMsg', autocomplete='off')
						button(id='submit') SEND

		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='js/chat/client_chat.js')
		script(type='text/javascript', src='/js/module/shawnPattern.js')
		script(type='text/javascript', src='/js/snakeGame/e3_v4_mySnakeGame.js')
