/* reset */
*{margin:0;padding:0}
ul{list-style:none}
body{background-color:#efefef}


/* common */
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-3500px}
.invisible{display:none}

/* game */
.wrap_game{width:800px;height:600px;margin: 20px auto}
.wrap_game .field_comm{position:relative;text-align:center}
.wrap_game .field_away{padding-top:50px;background-color:#d4c387}
.wrap_game .field_home{padding-bottom:150px;background-color:#ffeba5}
.wrap_game .list_summon{display:inline-block;overflow:hidden;vertical-align:top;height:240px}
.wrap_game .list_summon li{float:left;width:140px;height:200px;margin:20px;background-color:white;border:2px solid gray;border-radius:5px;cursor:pointer}
.wrap_game .list_summon li img{display:block;margin:20px auto;vertical-align:top}
.wrap_game .list_summon li div{margin-top:10px}
