*{margin:0;padding:0}
ul{list-style:none}
body{background-color:gray}
.chat_wrap{overflow:hidden;position:relative;width:800px;height:500px;margin:20px auto}
.chat_wrap .area_game{float:left}
.chat_wrap .game_canvas{background-color:#fff}
.chat_wrap .area_chat{position:absolute; top:0;bottom:0;right:0;left:500px;background-color:rgba(57, 145, 254, 0.95)}
.chat_wrap .scroll_chat{overflow:scroll;height:450px;padding:10px}
.chat_wrap .list_chat{}
.chat_wrap .list_chat li{margin-bottom:10px;}
.chat_wrap .list_chat .txt_msg{padding:2px 5px;background-color:yellow;border-radius:7px}
.chat_wrap .insert_chat{height:24px;padding:3px;background-color:#ccc}
.chat_wrap .insert_chat input{display:inline-block;height:89%}
.chat_wrap .insert_chat input + input{margin-right:10px}
.chat_wrap .insert_chat #userName{width:30%}
.chat_wrap .insert_chat #userMsg{width:50%}